* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
}

.logo_krys {
    width: 30%;
    height: 20%;
}

.time_up {
    display: flex;
    gap: 2%;
    width: 600px;
}

.form_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
}

.box_result {
    text-align: center;
    margin-top: 2vw;
    width: 100%;

}

#workTimeForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3vw;
}

input[type="time"] {
    width: 80%;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
    box-shadow: none;
    background: #f0f0f0;
    margin-top: 2vw;
}

input[type="time"]:focus {
    outline: none;
    background: #e6e6e6;
}

.button {
    width: auto;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding: 0 20px;
    background: #007bff;
    color: white;
    cursor: pointer;
    margin-top: 2vw;

}

.box_button {
    justify-content: space-around;

}

.button:hover {
    background: #0056b3;
}
